body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary,
.btn-outline-primary {
  background-color: #ffc000;
  color: #000000;
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product {
  border: 1px solid #404040;
  margin: 1rem;
}
.rating span {
  color: #ffc000;
}
.rating .reviews {
  color: #404040;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
.btnToggler {
  background-color: #ff7004;
  border: none;
  color: #fff;
}
.btnToggler:hover,
.btnToggler:active:focus {
  background-color: #2f333a;
}
.NavbarTogglerBtn {
  padding: 0;
}
.inputSearch:focus {
  border-right: none;
  box-shadow: none;
}
/* NavBar */
.NavBar {
  background-color: #e7e7e7;
}
.navbarLinks{
  background-color:#2f333a;
}
.navbarLinks a{
  color: #fff;
  margin: 0 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbarLinks a:focus{
  color: #fff;
}
/*  */
.NavBar a,
.NavBar .show .nav-link,
.NavBar a:focus,
.side-navbar a {
  font-weight: bold;
  color: #2f333a;
}
.navbarLinks a:hover,
.NavBar a:hover,
.NavBar .show .nav-link:hover,
.side-navbar a:hover {
  color: #ff7004;
}
.NavBar .dropdown-item:focus,
.NavBar .dropdown-item.active {
  color: #ff7004;
  background: none;
}

/*  */
/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #fff;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.width75{
  width: 75%;
}
.width50{
  width: 50%;
}

@media only screen and (max-width: 992px) {
  .active-cont {
    margin-left: 240px;
  }
  .active-nav {
    left: 0;
  }
  .width100{
    width: 100%;
  }
}

.text-bold {
  font-weight: bold;
}
